.bars{
    display: flex;
    justify-content: space-between;
}

.LoginPage{
    margin-top: 250px;
    margin-left: 50px;

    align-items: center;
    height: auto;
    width: auto;

}
.form{
    margin-left: 700px;
}
.inputs{
    width: 300px;
}